* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1185px;
    margin: 0 auto; /* center */
}

ul {
    list-style: none; /* delete circles */
}

a {
    text-decoration: none;
    color: inherit;
}

/* header */
.header_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82px;
}

.header_logo {
    margin-right: 100px;
}

.header_menu {
    display: flex;
    align-self: flex-end;
}

.header_menu-element {
    margin-right: 50px;
    font-size: 16px;
    color: #1E266D;
    position: relative;
}

.header_menu-element:hover::before {
    content: "";
    position: absolute;

    width: 10px;
    height: 10px;
    left: 35%;
    top: -20px;

    background-image: url('../imgs/Menu.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.header_menu-element:last-child {
    margin-right: 200px;
}

.header_contact-number {
    margin-right: 34px;
}

/* header button */
.header_contact-button {
    line-height: 40px;
    border-radius: 100px;
    padding: 0 15px;

    color: #fff;
    font-size: 16px;
    background-color: #3751FF;
    border: none;

    cursor: pointer;
    transition: all .3s;
}

.header_contact-button:hover {
    background-color: #001496;
}

/* HERO */
.hero {
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 7px;
    bottom: 174px;
    z-index: -1;
    background: linear-gradient(180deg, #F2F9FF 0%, rgba(141, 141, 141, 0.12) 100%);
}

.hero_inner {
    text-align: center;
}

/* HERO TITLES AND TEXT */
.hero__title, .hero__text {
    font-style: normal;
    font-weight: normal;
    text-align: center;
}

.hero__title {
    color: #1E266D;
    font-size: 56px;
    
    padding-top: 144px;
}

.hero__text {
    color: #455880;
    font-size: 18px;

    padding-top: 28px;
}

/* BUTTONS IN HERO */
.hero__btn-buy, .hero__btn-features {
    margin-top: 28px;

    line-height: 50px;
    border: none;
    border-radius: 100px;

    font-size: 16px;

    transition: all .3s;
    cursor: pointer;
}

.hero__btn-buy {
    background-color: #3751FF;
    color: #fff;
    
    padding: 0 38px;
    margin-right: 23px;
}

.hero__btn-buy:hover {
    background-color: #001496;
}

.hero__btn-features {
    background-color: #fff;

    color: #455880;
    padding: 0 36px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.hero__btn-features:hover {
    background-color: rgba(255, 255, 255, 0.329);
}

/* image in hero */
.hero__img {
    display: block;

    margin: 32px auto;
}

/* LOGOS */
.logos__inner {
    margin-top: 52px;
    text-align: center;
}

.logos__title {
    color: rgba(69, 88, 128, 0.5);
    font-family: 'Roboto';
    font-size: 16px;

    margin-bottom: 48px;
}

.logos__list {
    display: flex;
    justify-content: space-between;
}

.logos__item {
    opacity: .7;
    transition: all .3s;
}

.logos__item:hover {
    cursor: pointer;
    opacity: 1;
}

/* ABOUT */
.about {
    padding-bottom: 34px;
}

.about__inner {
    margin-top: 169px;
    text-align: center;
}

.about__title {
    color: #1E266D;
    font-size: 48px;
    font-family: 'Roboto';
    font-weight: 400;
}

.about__content {
    display: flex;
    flex-direction: row;
}

.about__list {
    margin-top: 75px;
    margin-left: 138px;
    width: 405px;
}

.about__list-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 41px;

    border-bottom: 1px solid rgba(69, 88, 128, 0.2);
}

.about__list-item:last-child {
    border-bottom: none;
}

.about__list-img {
    padding-bottom: 121px;
}

.about__list-description {
    margin-left: 47px;

    text-align: start;
}

.about__list-title {
    padding-bottom: 27px;

    color: #1E266D;
    font-size: 22px;
    font-family: 'Roboto';
}

.about__list-text {
    color: #455880;
    line-height: 27px;
    font-size: 18px;
    font-family: 'Roboto';
}

